#twenty{
    background-color: #2e0f2d;
    color: white;
    padding: 30px;

}

#twentyone{
    background-color: #743c7c;
    color: white;
    padding: 30px;
}

#twentytwo{
    background-color: darkblue;
    color: white;
    padding: 30px;
}